* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; 
}

html, body {
    background-color: #252627;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Optional - remove scroll if full-screen app */
  height: 100%;
}

.rotate-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

a{
    color: #fff;
}

a:hover{
    color: #0eafed;
    transition: all 0.3s;
}

.container{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
}

.container_sub1{
    align-items: center;
    width: 50%;
    display: flex;
    background-color: #252627;
    padding: 25px;
    border: 2px solid #0eafed ;
    border-radius: 10px;
    box-shadow: 0 0 100px #0eafed75;
    display: flex;
    gap: 20px;
}

.container_sub1_partb{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text{
    font-size: 5rem;
}

.text_button_b{
    display: flex;
    gap: 10px;
}

.calculator_container1_2_img{
    display: flex;
    gap: 10px;
}

.calculator_container1_2_img img{
    width: 50px;
    height: 50px;
}

span{
    color: #0eafed;
}

@media (max-width: 768px){

    .container_sub1{
        width: 70%;       
    }

    .calculator_container1_2_img img{
        width: 25px;
        height: 25px;
    }
}